<h1>{{title}}</h1>

{{#message}}<p style="color: red;">{{this}}</p>{{/message}}

<p>Please find your details below</p>

<div>
	username: {{username}}
</div>
<div>
	email: {{email}}
</div>

<p>Click <a href="/update">here</a> to update your details.</p>
<p>Click <a href="/logout">here</a> to logout.</p>